Source: gxde-hardware-viewer
Section: utils
Priority: optional
Maintainer: zeqi <a202128502@163.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 pyqt6-dev-tools,
 qt6-l10n-tools,
Standards-Version: 4.7.2
Homepage: https://gitee.com/GXDE-OS/gxde-hardware-viewer

Package: gxde-hardware-viewer
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python3,
 pciutils,
 usbutils,
 python3-pyqt6,
 libdtkcore5-bin,
 policykit-1 | pkexec,
Description: 硬件信息查看工具
 一个用于Linux系统的硬件信息查看器，支持查看CPU、内存、磁盘、网卡、
 PCI设备、USB设备和显卡等硬件信息
